<% if !@tracked_investments.empty? %> 
  <div class="row mt-4">
    <div class="col-9">

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>

          <% @tracked_investments.each do |inv| %>
          <tr>
            <th scope="row"> <%=inv.symbol.upcase %> </th>
            <td><%=inv.name.capitalize %></td>
            <td><%=inv.investment_type %></td>
            <td><%=inv.last_price %></td>
            <td>[Place Holder]</td>
          </tr>
          <% end %> 
        
        </tbody>
      </table>

    </div>
  </div>
<% end %> 
