<h1> Welcome to Investment Tracker App</h1>
<p>
Your place to track stocks and cryptocurrency
</p>
<p>
  Comming soon: stock and crypto currency news 
</p>


<br>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %> 