@import "bootstrap/dist/css/bootstrap";

html,
body {
  height: 100%;
}

body {
  background-color: lightgray;
}

#sticky-footer {
  flex-shrink: none !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0px !important;
}

.no-left-padding {
  padding-left: 0px !important;
}

#results,
#friend_results {
  padding-left: 0px !important;
}

.card-block {
  background-color: white;
  display: inline-block;
}

.logout-button {
  margin-right: 5px;
}

.user-name {
  margin-top: 3.5%;
  padding-right: 7px;
  color:lightgray;
}

.result-table {
  background-color: white;
}
